* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.clicks {
    font-family: Roboto-Bold;
    font-size: 84px;
    color: #37474f;
}

button {
    background: #5e19f5;
    border: 1px solid #979797;
    border-radius: 8px;
    font-family: Roboto-Regular;
    font-size: 32px;
    color: #ffffff;
    padding: 1px 30px;
    margin: 10px;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}